<!DOCTYPE html>

{% load static %}
<html>
    
<head>
	<title>Secure Pin</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/popup.css' %}" >
</head>
<body>
	<div class="popup">
		
			
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<img src="{% static 'close1.png' %}"  alt="close" class="close">

                    <h2 id="form-title" style="color:white;">SECURED IMAGE</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <h3 id="form-title" style="color:white;">Enter The Secure pin used for Encoding</h3>
                </div>
              
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="check_security">
                       {% csrf_token %}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
                            <input type="tel"  placeholder="eg. 343685" pattern="[0-9]{3}[0-9]{3}" name="pin" min="6" max="6" required></input>
						</div>
                            
						<div class="d-flex justify-content-center mt-3 login_container">
                        <!---
                            <input type="hidden" value="{{ dec_imag }}" name="img_nm">
                            <input type="hidden" value="{{  encoded }}" name="img_nm">
                        -->
                            <input class="btn login_btn" type="submit" value="Decode">
                        </div>
                        
                            
						<br> 
						<div>
							{% for message in messages %}
							<h4 style="color: white;"> {{ message }} </h4>
							{% endfor %}  
						</div>

					</form>

                </div>
			</div>

	</div>	
	<script type="text/javascript">
		document.querySelector(".close").addEventListener("click", function(){
		  document.querySelector(".popup").style.display="none";
		  window.location.href="http://localhost:8000/main"; 
  
		})
		
	</script>	
	
</body>

</html>